/*350*/
@media (max-width: 1300px) {
    nav .container .body ul {
    column-gap: 20px;
    }

    nav .container .logo {
    width: 55px;
    height: 55px;
    }

    #Home::before {
    
    width: 135%;
    }

    #Home .container .title h1 {
    font-size: 25px;
    }
    #Home .container .title p {
    width: 95%;
    font-size: 13px;
    }
    #Home .container .title .buttons {
    
    width: 75%;
    }
    #Home .container .title .buttons button a {
    width: 120px;
    font-size: 14px;
    }
    #Home .container .title a.shape1, #Home .container .title a.shape2 {
    width: 28px;
    height: 55px;
    top: 42%;
    }
    #Home .container .body {
   
    height: 85%;
    }

    #Home .container .body .box .item .icons .part
    {
        transform: translateY(-110%);
    }

    #Home .container .body .box .item .icons .part:nth-of-type(3) {
    transform: translateY(-90%);
  }
  #Home::after {
   
    width: 70%;
  }
  .theme-toggle-wrapper {
   
    right: 5px;
    }
    .theme-toggle-bar {
    width: 55px;
    }
    body.Glow-theme .toggle-circle {
    transform: translateX(18px);
    }



  svg {
    overflow: visible;
    margin-bottom: auto;
    }
  svg text {
    
        font-size: 35px;
    }
  #Featured .container .content 
    {
         display: block;
     }
  #Featured .container .content .box 
  {
    width: 100%;
    margin-bottom: 25px;
  }
  #Featured .container .content .box .item img {
    max-width: 250px;
    height: 220px;
}
#Featured .container .content .box .item h2 {
    font-size: 30px;
}
#Featured .container .content .box .item p 
{
    width: 95%;
}

#Products .container .content 
{
    display: block;
}
#Products .container .content .box 
{
    width: 90%;
}
   #Products svg text {
        font-size: 60px;
    }
    #Products .container .content .box .specialCard .front img {
    max-width: 200px;
    }
    #Products .container .content .box .specialCard .back {
    top: 0%;
    left: 14%;
    width: 85%;
    }
    #Products .container .content .box .specialCard .back .head h3 {
    font-size: 20px;
    }
    #Products .container .content .box .specialCard .back .body .description p {
    width: 100%;
    font-size: 12px;
    }

}

/*450*/
@media (min-width: 371px) and (max-width: 1300px) {
      nav .container .body ul {
        column-gap: 25px;
    }
    #Home .container .title .buttons button a {
        width: 160px;
    }
    #Home .container .title a.shape1, #Home .container .title a.shape2 {
        width: 30px;
        height: 60px;
        top: 40%;
    }
        #Home .container .body {
        height: 90%;
    }
    #Featured .container .content .box 
  {
    width: auto;
    max-width: 400px;
    margin: auto;
    margin-bottom: 25px;
  }
  #Products .container .content .box .specialCard .front 
  {
    overflow: visible;
  }
      #Products .container .content .box .specialCard .front img {
        max-width: 240px;
    }
}

/*650*/
@media (min-width: 577px) and (max-width: 1300px) {
    #Home .container .title h1 {
        font-size: 30px;
    }

    #Home .container .title p {
        font-size: 15px;
    }

    #Home .container .body {
        height: 93%;
    }
    #Home .container .body .box .item .icons .part
    {
        transform: translateY(-100%);
    }

    #Home .container .body .box .item .icons .part:nth-of-type(3) {
    transform: translateY(-80%);
    }
    .theme-toggle-wrapper {
        right: 20px;
    }

    .theme-toggle-bar {
    width: 70px;
    }

    body.Glow-theme .toggle-circle {
        transform: translateX(32px);
    }

        svg text {
        font-size: 45px;
    }
    #Products .container .content {
    display: flex;
   
}
#Products .container .content .box 
{
    width: 50%;
}
}

/*850*/
@media (min-width: 769px) and (max-width: 1300px) {
  #Home .container .body {
        height: 96%;
    }
  #Home::after {
        width: 55%;
    }
    #Featured .container .content 
    {
        display: flex;
        flex-wrap:wrap;
    }
        svg text {
        font-size: 50px;
    }
        #Featured .container .content .box {
       
        width: 50%;
        }

    #Products .container .content .box .specialCard .back {
        top: 5%;
        width: 70%;
    }
}

/*1050*/
@media (min-width: 992px) and (max-width: 1300px) {
  nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
  }
      #Home .container .body {
        height: 100%;
    }
        #Home::after {
        width: 40%;
    } 
        .theme-toggle-wrapper {
        right: 65px;
    }   

     #Products .container .content .box 
     {
        width: calc(100%/3);
     }
         #Products .container .content .box .specialCard .back {
        top: 5%;
        width: 80%;
        left: 12%;
    }
}

/*1250*/
@media (min-width: 1181px) and (max-width: 1300px) {
  
}